<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predictions</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Match Predictions</h1>
        <table class="table table-bordered table-hover mt-3">
            <thead>
                <tr>
                    <th>League</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>AvgH</th>
                    <th>AvgD</th>
                    <th>AvgA</th>
                    <th>AvgMORE25</th>
                    <th>AvgCLESS25</th>
                    <th>Prediction</th>
                </tr>
            </thead>
            <tbody>
                {% for match in matches %}
                <tr>
                    <td>{{ match[0] }}</td>
                    <td>{{ match[1] }}</td>
                    <td>{{ match[2] }}</td>
                    <td>{{ match[3] }}</td>
                    <td>{{ match[4] }}</td>
                    <td>{{ match[5] }}</td>
                    <td>{{ match[6] }}</td>
                    <td>{{ match[7] }}</td>
                    <td>{{ match[8] }}</td>
                    <td>{{ match[9] }}</td>
                    <td>{{ match[10] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
